server:
  port: 8085
spring:
  application:
    name: API-GATEWAY-SERVICE
  cloud:
    gateway:
      routes:
        - id: sessionservice
          uri: http://moviemanagement:8080  
          predicates:
            - Path=/sessions/**
        - id: recommendationservice
          uri: http://recc:8081  
          predicates:
            - Path=/recommendation/**
